In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\Sudheer mamidi\Desktop\Datasets\bank.csv")

In [3]:
dataset.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [4]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [6]:
encoder=OneHotEncoder(sparse=False)

dataset_encoded = pd.DataFrame (encoder.fit_transform(dataset[['job']]))

dataset_encoded.columns = encoder.get_feature_names(['job'])

dataset.drop(['job'] ,axis=1, inplace=True)

dataset1 = pd.concat([dataset_encoded, dataset], axis=1)

In [7]:
dataset1

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,no,unknown,5,may,579,1,-1,0,unknown,yes
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,yes,cellular,8,may,9,2,172,5,failure,no
11161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,no,cellular,9,jul,628,1,-1,0,unknown,no

In [8]:
encoder=OneHotEncoder(sparse=False)

dataset_encoded = pd.DataFrame (encoder.fit_transform(dataset1[['marital']]))

dataset_encoded.columns = encoder.get_feature_names(['marital'])

dataset1.drop(['marital'] ,axis=1, inplace=True)

dataset2 = pd.concat([dataset_encoded, dataset1], axis=1)

In [9]:
dataset2

,marital_divorced,marital_married,marital_single,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,579,1,-1,0,unknown,yes
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,yes,cellular,8,may,9,2,172,5,failure,no
11161,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,no,cellular,9,jul,628,1,-1,0,unknown,no

In [10]:
encoder=OneHotEncoder(sparse=False)

dataset_encoded = pd.DataFrame (encoder.fit_transform(dataset2[['education']]))

dataset_encoded.columns = encoder.get_feature_names(['education'])

dataset2.drop(['education'] ,axis=1, inplace=True)

dataset3 = pd.concat([dataset_encoded, dataset2], axis=1)

In [11]:
dataset3

,education_primary,education_secondary,education_tertiary,education_unknown,marital_divorced,marital_married,marital_single,job_admin.,job_blue-collar,job_entrepreneur,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,no,unknown,5,may,579,1,-1,0,unknown,yes
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,yes,cellular,8,may,9,2,172,5,failure,no
11161,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,no,cellular,9,jul,628,1,-1,0,unknown,no

In [12]:
encoder=OneHotEncoder(sparse=False)

dataset_encoded = pd.DataFrame (encoder.fit_transform(dataset3[['contact']]))

dataset_encoded.columns = encoder.get_feature_names(['contact'])

dataset3.drop(['contact'] ,axis=1, inplace=True)

dataset4 = pd.concat([dataset_encoded, dataset3], axis=1)

In [13]:
dataset4

,contact_cellular,contact_telephone,contact_unknown,education_primary,education_secondary,education_tertiary,education_unknown,marital_divorced,marital_married,marital_single,...,housing,loan,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,yes,no,5,may,1042,1,-1,0,unknown,yes
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,no,no,5,may,1467,1,-1,0,unknown,yes
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,yes,no,5,may,1389,1,-1,0,unknown,yes
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,yes,no,5,may,579,1,-1,0,unknown,yes
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,no,no,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,yes,no,20,apr,257,1,-1,0,unknown,no
11158,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,no,no,16,jun,83,4,-1,0,unknown,no
11159,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,no,no,19,aug,156,2,-1,0,unknown,no
11160,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,no,yes,8,may,9,2,172,5,failure,no
11161,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,no,no,9,jul,628,1,-1,0,unknown,no

In [14]:
encoder=OneHotEncoder(sparse=False)

dataset_encoded = pd.DataFrame (encoder.fit_transform(dataset4[['poutcome']]))

dataset_encoded.columns = encoder.get_feature_names(['poutcome'])

dataset4.drop(['poutcome'] ,axis=1, inplace=True)

dataset5 = pd.concat([dataset_encoded, dataset4], axis=1)

In [15]:
dataset5

,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,contact_cellular,contact_telephone,contact_unknown,education_primary,education_secondary,education_tertiary,...,balance,housing,loan,day,month,duration,campaign,pdays,previous,deposit
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,2343,yes,no,5,may,1042,1,-1,0,yes
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,45,no,no,5,may,1467,1,-1,0,yes
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1270,yes,no,5,may,1389,1,-1,0,yes
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,2476,yes,no,5,may,579,1,-1,0,yes
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,184,no,no,5,may,673,2,-1,0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,yes,no,20,apr,257,1,-1,0,no
11158,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,733,no,no,16,jun,83,4,-1,0,no
11159,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,29,no,no,19,aug,156,2,-1,0,no
11160,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,no,yes,8,may,9,2,172,5,no
11161,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,no,no,9,jul,628,1,-1,0,no

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset5["deposit"] = le.fit_transform(dataset5["deposit"])
dataset5["housing"] = le.fit_transform(dataset5["housing"])
dataset5["default"] = le.fit_transform(dataset5["default"])
dataset5["loan"] = le.fit_transform(dataset5["loan"])

In [17]:
dataset5

,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,contact_cellular,contact_telephone,contact_unknown,education_primary,education_secondary,education_tertiary,...,balance,housing,loan,day,month,duration,campaign,pdays,previous,deposit
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,2343,1,0,5,may,1042,1,-1,0,1
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,45,0,0,5,may,1467,1,-1,0,1
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1270,1,0,5,may,1389,1,-1,0,1
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,2476,1,0,5,may,579,1,-1,0,1
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,184,0,0,5,may,673,2,-1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,1,0,20,apr,257,1,-1,0,0
11158,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,733,0,0,16,jun,83,4,-1,0,0
11159,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,29,0,0,19,aug,156,2,-1,0,0
11160,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,1,8,may,9,2,172,5,0
11161,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,9,jul,628,1,-1,0,0

In [18]:
dataset5.drop(['day'] ,axis=1, inplace=True)
dataset5.drop(['month'] ,axis=1, inplace=True)

In [19]:
dataset5

,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,contact_cellular,contact_telephone,contact_unknown,education_primary,education_secondary,education_tertiary,...,age,default,balance,housing,loan,duration,campaign,pdays,previous,deposit
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,59,0,2343,1,0,1042,1,-1,0,1
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,56,0,45,0,0,1467,1,-1,0,1
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,41,0,1270,1,0,1389,1,-1,0,1
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,55,0,2476,1,0,579,1,-1,0,1
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,54,0,184,0,0,673,2,-1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,33,0,1,1,0,257,1,-1,0,0
11158,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,39,0,733,0,0,83,4,-1,0,0
11159,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,32,0,29,0,0,156,2,-1,0,0
11160,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,43,0,0,0,1,9,2,172,5,0
11161,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,34,0,0,0,0,628,1,-1,0,0

In [21]:
dataset5.shape

(11162, 36)

In [31]:
x = dataset5.iloc[:,0:35].values
y = dataset5.iloc[:,35].values

In [32]:
x

array([[  0.,   0.,   0., ...,   1.,  -1.,   0.],
       [  0.,   0.,   0., ...,   1.,  -1.,   0.],
       [  0.,   0.,   0., ...,   1.,  -1.,   0.],
       ...,
       [  0.,   0.,   0., ...,   2.,  -1.,   0.],
       [  1.,   0.,   0., ...,   2., 172.,   5.],
       [  0.,   0.,   0., ...,   1.,  -1.,   0.]])

In [33]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [34]:
x.shape

(11162, 35)

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [36]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(x_train,y_train)

C:\Users\Sudheer mamidi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [37]:
ypred = log.predict(x_test)

In [38]:
ypred

array([0, 1, 0, ..., 1, 0, 0])

In [39]:
y_test

array([0, 1, 0, ..., 1, 1, 0])

In [40]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(ypred,y_test)

In [41]:
accuracy

0.8025078369905956